.inactive {

	header,
	.view-footer {
		background-image: linear-gradient(#e5e5e5, #d5d5d5);
		box-shadow: none;
	}

	header {
		border-color: #999;
	}

	#header-icon,
	#main-title,
	#title,
	#footer-sub,
	#footer-post,
	.btn-footer,
	.icon-btn {
		opacity: .7;
	}

	#detail-close {
		opacity: .5;
	}
}
