.notification {
	background-color: rgba(0, 0, 0, .8);
	color: white;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	width: 200px;
	padding: 0 10px;
	position: relative;
	top: 50px;
	left: 50%;
	margin-left: -100px;
	margin-bottom: 10px;
	z-index: 11;
}
