.btn-edit-sub,
.sub,
.channel > p,
.option,
#summary-title,
#sorting p {
	transition-duration: 200ms;
}

.sub:hover,
.channel:hover > p,
.option:hover,
#sorting p:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
}

.link,
.list-button > span,
.top-buttons > div,
.comments-button,
.item-to-edit > div,
.btn-add-sub,
.close-form,
.option,
.btn-general,
#btn-add-new-channel,
#sorting p {
	cursor: pointer;
}

#subs,
#channels,
#main-title,
#btn-add-another-sub,
#title,
#summary-sub,
#summary-time,
#summary-author,
.edit-subs-title,
.item-to-edit,
.btn-edit-sub,
.menu-desc,
.loader-error,
.subreddit p,
.view-footer p,
.move-data h3,
.move-data p {
	cursor: default;
}

#link-summary a:hover #summary-title { text-shadow: 0 1px 7px whiteSmoke; }

/* Scrolling bars style */
::-webkit-scrollbar,
#main-menu::-webkit-scrollbar { width: 7px; }

/* Track Principal */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: whiteSmoke;
}

/* Handle Principal */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(200, 200, 200);
}

/* Track Menu */
#main-menu::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #262b30;
}

/* Handle Menu */
#main-menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
}
