* {
    color: #373737;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: -webkit-linear-gradient(#312C48 1%, #346EAD 20%, #E6E6E6 30%, #F2F8FC 70%, #fff 95%);
    background: -moz-linear-gradient(#312C48 1%, #346EAD 20%, #E6E6E6 30%, #F2F8FC 70%, #fff 95%);
    background: -o-linear-gradient(#312C48 1%, #346EAD 20%, #E6E6E6 30%, #F2F8FC 70%, #fff 95%);
    background: linear-gradient(#312C48 1%, #346EAD 20%, #E6E6E6 30%, #F2F8FC 70%, #fff 95%);
}

a {
    color: #08C;
    text-decoration: none;
}

header {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

header h1,
header p {
    color: #eee;
    text-shadow: 0 1px 3px #000;
}

header .img { margin: 0 auto; }

.img { background-repeat: no-repeat; }

#icon {
    background-image: url('../img/icon-home.png');
    background-size: 60px;
    width: 60px;
    height: 60px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto 10px;
    border: 1px solid #999;
    background-color: #d7d7d7;
    color: #eee;
    max-width: 300px;
}

.button:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.button:visited { color: #eee; }

.button:hover { color: #fff; }

.main-button {
    background-image: -webkit-linear-gradient(#4C9BEA, #1460AC);
    background-image: -moz-linear-gradient(#4C9BEA, #1460AC);
    background-image: -o-linear-gradient(#4C9BEA, #1460AC);
    background-image: linear-gradient(#4C9BEA, #1460AC);
    box-shadow: none;
    border: 0;
    color: #F5F5F5;
    border: 1px solid #0F467F;
}

.main-button span {
    margin-top: 5px;
    display: block;
    font-size: 0.8em;
    color: #f5f5f5;
}

#screens .img {
    background-position: 50% 0;
    margin: 0 auto;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    max-height: 914px;
    height: 580px;
}

.screen1 {
    background-image: url('../img/screen1.png');
    background-size: 100%;
    max-width: 467px;
}

.screen2 {
    background-image: url('../img/screen2.png');
    background-size: 100%;
    max-width: 602px;
}

.screen3 {
    background-image: url('../img/screen3.png');
    background-size: 100%;
    max-width: 1112px;
}

footer {
    padding: 10px 20px;
    text-align: center;
    background-color: #222;
}

#me {
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 60px;
}

#me:hover {
    color: #999;
}

#twitter {
    padding: 70px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    margin: 0;
}

#twitter a {
    padding: 4px 7px;
    border: 1px solid;
    border-radius: 5px;
}

@-webkit-keyframes slidein {
    from {
        -webkit-transform: translateX(-30px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.slide-in {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: slidein;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-fill-mode: both;
}

.preload {
    display: none;
    width: 0;
    height: 0;
}

@media only screen and (min-width: 530px) {

    header p {
        width: 70%;
        margin: 0 auto 20px;
        line-height: 25px;
    }

    #screens .img {
        height: 700px;
    }
}

@media only screen and (min-width: 620px) {
    #screens .img {
        height: 914px;
    }
}

@media only screen and (min-width: 960px) {

    body {
        background: -webkit-linear-gradient(#312C48 10px, #346EAD 450px, #E6E6E6 970px, #F2F8FC 70%, #fff 95%);
        background: -moz-linear-gradient(#312C48 10px, #346EAD 450px, #E6E6E6 970px, #F2F8FC 70%, #fff 95%);
        background: -o-linear-gradient(#312C48 10px, #346EAD 450px, #E6E6E6 970px, #F2F8FC 70%, #fff 95%);
        background: linear-gradient(#312C48 10px, #346EAD 450px, #E6E6E6 970px, #F2F8FC 70%, #FFF 95%) repeat scroll 0% 0% transparent;
    }

    header {
        margin: 0 auto;
        margin-top: 30px;
    }

    .screen1 {
        background-image: url('../img/screen1.png');
    }

    .screen2 {
        background-image: url('../img/screen2.png');
    }

    .screen3 {
        background-image: url('../img/screen3.png');
    }

    #twitter {
        border-top: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5/1), (min-device-pixel-ratio:1.5), (min-resolution:138dpi), (min-resolution:1.5dppx) {
    .screen1 {
        background-image: url('../img/screen1@2x.png');
    }

    .screen2 {
        background-image: url('../img/screen2@2x.png');
    }

    .screen3 {
        background-image: url('../img/screen3@2x.png');
    }
}
