* {
    color: #373737;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    border-top: 5px solid #1460AC;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a {
    color: #08C;
    text-decoration: none;
}

section {
    padding: 10px;
}


header {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

header h1, header p { color: #555; }

header .img { margin: 0 auto; }



.img { background-repeat: no-repeat; }

#icon {
    background-image: url('../img/icon.png');
    background-size: 60px;
    width: 60px;
    height: 60px;
}

.button {
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	-webkit-transition-duration: 100ms;
	transition-duration: 100ms;
	display: block;
	text-align: center;
	width: 50%;
	margin: 0 auto 10px;
	border: 1px solid #999;
	background-color: #d7d7d7;
	color: #eee;
	max-width: 300px;
}

.button:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.button:visited { color: #eee; }

.button:hover { color: #fff; }

.main-button {
    background-image: -webkit-linear-gradient(#4C9BEA, #1460AC);
    background-image: -moz-linear-gradient(#4C9BEA, #1460AC);
    background-image: -o-linear-gradient(#4C9BEA, #1460AC);
    background-image: linear-gradient(#4C9BEA, #1460AC);
    box-shadow: none;
    border: 0;
    color: #F5F5F5;
    border: 1px solid #0F467F;
}


#screens .img {
    background-size: 100%;
    width: 100%;
    max-width: 492px;
    min-height: 442px;
    background-position: 50% 0;
    background-image: url('../img/screen2.png');
    margin: 0 auto;
    border-radius: 4px;
}


footer {
    padding: 20px;
    text-align: center;
}

#me {
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 60px;
}

#me:hover {
    color: #999;
}

@media only screen and (min-width: 480px) {
	#screens .img {
        min-height: 680px;
    }
}

@media only screen and (min-width: 530px) {

    header p {
        width: 70%;
        margin: 0 auto 20px;
    }

    #screens .img {
        min-height: 726px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (min-width: 960px) {
    body {
        background-image: url('../img/galaxy.jpg');
        background-repeat: no-repeat;
        background-size: 1600px 550px;
        background-position: 50% 22%;
    }

    header {
        width: 45%;
        float: left;
        margin: 0;
        margin-top: 160px;
    }

    header h1, header p {
        color: #eee;
        text-shadow: 0 1px 3px #000;
	}

    #screens {
        width: 50%;
        float: left;
        margin-top: 20px;
    }

    #screens .img {
    	margin: 0;
        width: 492px;
		min-height: 657px;
    	background-image: url('../img/screen1.png');
    }

    footer { clear: both; }
}

@media only screen and (min-width: 960px) and (min-height: 850px) {
	body {
        background-size: 1600px 550px;
        background-position: 50% 37%;
	}

	header {
        margin-top: 250px;
    }

	#screens {
        margin-top: 30px;
    }

	#screens .img {
    	background-image: url('../img/screen2.png');
    	background-size: 492px 726px;
    	height: 726px;
    	min-height: 726px;
    }
}